<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><img src="assets/images/materiel/logo.png" width="90px"></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/Accueil" routerLinkActive="active">Accueil</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Se Connecter</a></li>
      <li><a routerLink="/widget1" routerLinkActive="active">Liste des articles</a></li>
      <li><a routerLink="/categorie" routerLinkActive="active">Categories</a></li>
    </ul>
  </div>
</nav>