<div class='container'>
  <div class="row">
    <div class="col s1 m5">
      <div class="card">
        <div class="card-image">
          <img [src]=article.image/>
        </div>
        <div class="card-content" [align]=justify>
          {{article.designation}}<br>
          {{article.dateMiseEnLigne}}<br>
          {{article.categorie.nom}}<br><br>
          <strong>{{article.constructeur.nom}}</strong><br><br>
          {{article.description}}<br><br>
          {{article.prix}} €<br><br>
          {{article.stock}}<br><br>
          <input class="rafraichir" type="button" (click)="selectArticleByCategorieId(article.id)" value="Mettre à jour les données"/><br>
        </div>
        <a class="myButton" routerLink="/widget1" routerLinkActive="active">Liste des articles</a>
      </div>
    </div>
  </div>
</div>