<div class='container'>
  <div class="row">
    <div class="col s1 m5">
      <div class="card">
        <div class="card-image">
          <img [src]=article.image/>
        </div>
        <div class="card-content" [align]=alignement>
          {{article.id}}<br>
          {{article.designation}}<br>
          {{article.dateMiseEnLigne}}<br>
          {{article.categorie.nom}}<br>
          {{article.constructeur.nom}}<br>
          {{article.description}}<br>
          {{article.prix}} €<br>
          {{article.stock}}<br>
        </div>
        <a class="myButton" routerLink="/widget1" routerLinkActive="active">Liste des articles</a>
      </div>
    </div>
  </div>
</div>