<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
</head>

<body>

  <div class="position"><span class="affichertout" (click)="afficherTout()">Afficher toutes les catégories</span></div>

  <br>
  <div class="dropdown">
    <button (click)="afficherCategories()" class="boutonmenuprincipal">Choisir une catégorie...</button>
    <div class="dropdown-child" *ngFor='let prout3 of cat'>
      <ul>
        <li class="liprincipal" (click)="selectArticleByCategorieId(prout3.id)">{{prout3.nom}}</li>
      </ul>
    </div>
  </div>

  <div class="widget">
    <div *ngFor='let prout2 of art'>
      <div class="widget1" (click)="selectArticle(prout2)">
        <div>
        <h1><span class="animation">{{prout2.designation}}</span></h1>
        </div>
        <div><img class="image" [src]=prout2.image></div>
        <div>Achat immédiat : <strong>{{prout2.prix}}€</strong></div>
        <div>Stock : <strong>{{prout2.stock}}</strong></div>
      </div>
    </div>
  </div>
</body>
</html>